.header {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    position: relative;
    overflow: hidden
}

.header-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Assets/CarDriving.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(20%);
    z-index: -1;
}

.header_heading {
    color: rgb(230, 68, 68);
    font-size: 50px;
    margin: 10px 0;
    animation: slideInTop 2.2s ease-in-out;
}

.header_subheading {
    color: rgb(230, 68, 68);
    font-size: 40px;
    margin: 10px 0;
    animation: slideInTop 1.2s ease-in-out;
}

.header_text {
    width: 60%;
    font-size: 26px;
    margin-top: 80px;
    width: 90%;
    text-align: center;
    font-weight: 500;
}

@keyframes slideInTop {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 960px) {
    .header_text {
        margin-top: 20px;
        font-size: 20px;
        font-weight: 500;
    }
}

@media (max-width: 500px) {
    .header_heading {
        font-size: 40px;
        margin: 10px 0;
    }
    
    .header_subheading {
        font-size: 30px;
        margin: 10px 0;
    }

    .header_text {
        margin-top: 30px;
        font-size: 18px;
    }
}

@media (max-width: 430px) {
    .header_heading {
        font-size: 40px;
        margin: 10px 0;
    }
    
    .header_subheading {
        font-size: 22px;
        margin: 10px 0;
    }

    .header_text {
        width: 80%;
        margin-top: 30px;
        font-size: 16px;
    }
}