.header {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
}

.header-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Assets/CarDriving.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(25%);
    z-index: -1;
}