.solution {
    padding: 20px;
    background-color: #2b2b2b;
    text-align: left;
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
}

.solution_header {
    color: rgb(230, 68, 68);
    transition: font-size 0.1s ease-in-out;
    margin: 0;
    padding: 10px 0;
    transition: font-size 0.1s ease-in-out, transform 0.5s ease-in, opacity 0.5s ease-out;
    opacity: 0;
    transform: translateX(100%);
}

.solution_header.slide-in {
    opacity: 1;
    transform: translateX(0);
}

.solution_header.slide-out {
    opacity: 0;
    transform: translateX(100%);
}

.solution_content {
    color: white;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    font-size: 24px;
}

.solution_content.visible {
    opacity: 1;
    transform: translateX(0);
}

.solution_content_text {
    width: 70%;
}

.video_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}
