.why {
    padding: 20px;
    background-color: #fde2e2;
    text-align: center;
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.why h1 {
    transition: font-size 0.1s ease-in-out;
}

.why-paragraph {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.why-paragraph.visible {
    opacity: 1;
    transform: translateX(0);
}